@using DD.Cloud.VersionManagement.Models
@model ProductModel

@{
	ViewBag.Title = $"Edit product - '{Model.Name}'";
}

<div class="row">
	<div class="col-md-8">
		<form role="form" asp-controller="Products" asp-action="Edit" method="POST">
			<fieldset>
				<legend>Edit product '@Model.Name'</legend>

				<input type="hidden" asp-for="Id" />

				<div class="form-group">
					<label for="productName">Name</label>
					<input type="text" id="productName" asp-for="Name" class="form-control" placeholder="Product name" />
					<span asp-validation-for="Name" class="text-danger"></span>
				</div>

				<div class="form-group">
					<button type="submit" class="btn btn-default">Save</button>
				</div>
			</fieldset>
		</form>
	</div>
</div>
