@using DD.Cloud.VersionManagement.Models
@model IEnumerable<ProductModel>

@{
	ViewBag.Title = "Products";
}

<div class="row">
	<div class="col-md-8">
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Links</th>
				</tr>
			</thead>
			<tbody>
				@foreach (ProductModel product in Model)
				{
					<tr>
						<td>
							<a asp-action="DetailById" asp-route-productId="@product.Id">@product.Name</a>
						</td>
						<td>
							<a asp-action="Edit" asp-route-productId="@product.Id">Edit</a>
							|
							<a asp-action="IndexByProduct" asp-controller="Releases" asp-route-productId="@product.Id">Releases</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="col-md-8 text-right">
		<a asp-action="Create" class="btn btn-default">Create new product</a>
	</div>
</div>
