<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="~/styles/bootstrap.css">
	<link rel="stylesheet" href="~/styles/bootstrap-theme.css">
	<link rel="stylesheet" href="~/styles/site.css">
</head>
<body>
	<div class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a asp-controller="Home" asp-action="Index" class="navbar-brand">Versioning</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
					<li bootstrap-nav-controller="Home">
						<a asp-controller="Home" asp-action="Index">Home</a>
					</li>
					<li bootstrap-nav-controller="Products">
						<a asp-controller="Products" asp-action="Index">Products</a>
					</li>
					<li bootstrap-nav-controller="Releases">
						<a asp-controller="Releases" asp-action="Index">Releases</a>
					</li>
					<li bootstrap-nav-controller="VersionRanges">
						<a asp-controller="VersionRanges" asp-action="Index">Version ranges</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="container body-content">
		@RenderBody()
	</div>

	<script src="~/scripts/jquery.js"></script>
	<script src="~/scripts/bootstrap.js"></script>

	@RenderSection("Scripts", required: false)
</body>
</html>
