@using DD.Cloud.VersionManagement.DataAccess.Models
@model IEnumerable<Product>

@{
	ViewBag.Title = "Products";
}

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Links</th>
				</tr>
			</thead>
			<tbody>
				@foreach (Product product in Model)
				{
					<tr>
						<td>@Html.ActionLink(product.Name, "DetailById", new { productId = product.Id })</td>
						<td>@Html.ActionLink("Releases", "IndexByProduct", "Releases", new { productId = product.Id })</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
