@using DD.Cloud.VersionManagement.DataAccess.Models
@model IEnumerable<Product>

@{
	ViewBag.Title = "Products";
}

<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-8">
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Links</th>
				</tr>
			</thead>
			<tbody>
				@foreach (Product product in Model)
				{
					<tr>
						<td>
							<a asp-action="DetailById" asp-route-productId="@product.Id">@product.Name</a>
						</td>
						<td>
							<a asp-action="IndexByProduct" asp-controller="Releases" asp-route-productId="@product.Id">Releases</a>
						</td>
					</tr>
				}
			</tbody>
		</table>
	</div>
</div>
